body {
    background: #f3f4f6;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 700px;
    margin: 30px auto;
    background: #f0f6ff;
    padding: 28px;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}


h1 {
    color: #0f5bd9;
    font-size: 32px;
}

h2 {
    color: #444;
    margin-bottom: 10px;
}

.desc {
    color: #555;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 15px;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
}

button {
    width: 100%;
    padding: 14px;
    background: #0f5bd9;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0c4bb8;
}

.result {
    margin-top: 25px;
    background: white;
    padding: 20px;
    border-left: 5px solid #0f5bd9;
    border-radius: 10px;
}

.chart-box {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.table {
    width: 100%;
    margin-top: 25px;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

.table th, .table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #e2e8f0;
}

.table th {
    background: #e0ebff;
}

